@page
@model ForgotPasswordModel
@using Bizon360.Models
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@inject IStringLocalizer Localizer
@inject IOptionsSnapshot<LocalizationConfigModel> LocalizationConfig

@{
    Layout = "_LayoutLogin.cshtml";
    ViewData["Title"] = "Reset password";
}

<div class="bizon-auth-container">
    <ul class="nav nav-tabs main-nav-tabs bizon-auth-tabs">
        <li class=" ml-auto nav-item">
            <a class="nav-link" href="/Identity/Account/Login">@Localizer["_logIn"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/Identity/Account/ForgotPassword">@Localizer["_resetPassword"]</a>
        </li>
    </ul>
    <div class="nav-tab-border"></div>

    <form method="post">
        <label asp-for="Input.Email" class="float-label">@Localizer["_yourEmail"]</label>
        <input asp-for="Input.Email" type="email" class="form-control" placeholder="Ex. john.doe@@domain.com" required />
        <span asp-validation-for="Input.Email" class="invalid-feedback mt-1 mb-2"></span>

        <hr class="my-2" />

        <button type="submit" class="btn btn-success d-block ml-auto">@Localizer["_resetPassword"]</button>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}