@page
@model ForgotPasswordConfirmation
@using Bizon360.Models
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@inject IStringLocalizer Localizer
@inject IOptionsSnapshot<LocalizationConfigModel> LocalizationConfig

@{
    Layout = "_LayoutLogin.cshtml";
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="bizon-auth-container">
    <ul class="nav nav-tabs main-nav-tabs bizon-auth-tabs">
        <li class=" ml-auto nav-item">
            <a class="nav-link" href="/Identity/Account/Login">@Localizer["_logIn"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/Identity/Account/ForgotPassword">@Localizer["_resetPassword"]</a>
        </li>
    </ul>
    <div class="nav-tab-border"></div>

    <img class="mr-1" src="~/svg/check-success.svg" />
    <p class="mt-3 text-dark font-size-14 d-inline-block">
        @Localizer["_checkEmailForReset"]
    </p>

    <hr class="my-2" />

</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
