<div class="switcher-overlay">
    <div class="top-layer"></div>
    <div class="top-layer top-layer--2"></div>
    <div class="top-layer top-layer--3"></div>
    <div class="top-layer top-layer--4"></div>
    <div class="top-layer top-layer--5"></div>
</div>