@page
@using Bizon360.Areas.Identity.Pages.Account.Manage
@using Bizon360.Models
@using Microsoft.Extensions.Localization
@model ChangePasswordModel
@inject IStringLocalizer Localizer
@{
    ViewData["Title"] = "Change Password";
    ViewData["FirstNode"] = "Account Info";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;

    ViewData["Platform"] = Platform.Pm;
}

<form id="profile-form" method="post">
    <div class="row bizon-row">
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-3 bizon-col">
            <partial name="_StatusMessage" for="StatusMessage" />
            <div class="bg-white rounded border px-20 py-15">
                <h6>Change password</h6>
                <hr class="hr-description mb-3" />

                <label asp-for="Input.OldPassword" class="float-label"></label>
                <input asp-for="Input.OldPassword" type="password" class="form-control" placeholder="Enter your current password" required />
                <span asp-validation-for="Input.OldPassword" class="invalid-feedback mt-1 mb-2"></span>

                <label asp-for="Input.NewPassword" class="float-label"></label>
                <input asp-for="Input.NewPassword" type="password" class="form-control" placeholder="Choose a new password" required />
                <span asp-validation-for="Input.NewPassword" class="invalid-feedback mt-1 mb-2"></span>

                <label asp-for="Input.ConfirmPassword" class="float-label"></label>
                <input asp-for="Input.ConfirmPassword" type="password" class="form-control" placeholder="Confirm your new password" required />
                <span asp-validation-for="Input.ConfirmPassword" class="invalid-feedback mt-1 mb-2"></span>
            </div>
        </div>
    </div>

    <footer class="bulk-actions-container show">
        <ul class="list-unstyled list-inline d-md-inline-block d-block float-lg-right mt-lg-0 mt-2 mb-0">
            <li class="list-inline-item">
                <button id="btn-save" type="submit" class="btn btn-success">@Localizer["shortCuts_update"]</button>
            </li>
        </ul>
    </footer>
    <div class="bulk-hidden-space"></div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}