@model Gear.ProjectManagement.Manager.Domain.SubComments.Commands.UpdateSubComment.UpdateSubCommentCommand

<form asp-action="EditSubComment" asp-controller="MainComments" id="form-update-sub-comment">
    <div class="card-header">
        <h6 class="card-title font-weight-600">
            Edit reply
        </h6>
    </div>

    <div class="card-body p-1">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Id" class="form-control" hidden />

        <div class="col-12 p-0">
            <textarea rows="3" id="message" asp-for="Message" class="form-control" onkeyup="uniKeyCode(event)" style="width: 340px" autofocus> </textarea>
            <span asp-validation-for="Message" class="text-danger"></span>
        </div>

    </div>

    <div class="card-footer">
        <div class="text-center">
            <a onclick="ClosePopper()" class="btn btn-danger btn-sm font-weight-600 text-white col-5">Cancel</a>
            <input type="submit" value="Update" class="btn btn-sm btn-success font-weight-600 col-5" id="confirm-sub-update-comment" />
        </div>

    </div>
</form>

@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
<script src="~/js/dev/Comments.js"></script>

<script>
    SendForm({
        bindTo: "#confirm-sub-update-comment",
        formId: "#form-update-sub-comment",
        ajaxUrl: "/MainComments/EditSubComment/"
    });
</script>

@*
    <script>
        $("#user-list").change(function() {
            var userName = $("#user-list option:selected").text();
            var input = $("#message");
            input.val(input.val() + userName);
            $("#user-list").addClass("d-none");
            input.focus();
        });

        function uniKeyCode(event) {
            var $this = this;
            var userList = $("#user-list");
            var key = event.keyCode;
            if (key === 50) {
                userList.removeClass("d-none");
                userList.focus();
            }
            else {
                $("#user-list").addClass("d-none");
            }
        }
    </script>
*@
